html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}